{% extends "base2.html" %}

{% block title %}
    Reiniciar Foliador
{% endblock title %}

{% block content %}
<body>
    <h2>Certificaciones Por Escuela</h2>
    <section style="border: 1px solid #ccc; padding: 10px; background-color: #f9f9f9; margin-bottom: 20px;">
        <h3>Reiniciar Foliador</h3>
        <form method="post" style="width: 100%;">
            {% csrf_token %}
            <div style="display: flex; align-items: center;">
                <div>
                    {{ letra_form.as_p }}
                </div>
                <button type="submit" class="btn btn-success" style="margin-left: 10px; margin-top: 17px">Reiniciar</button>
            </div>
        </form>
    </section>
    {% if mensaje %}
    <p class="alert alert-success" style="width:50%; margin-top:10px">{{ mensaje }}</p>
    {% endif %}
</body>
</html>
{% endblock %}