<section style="border: 1px solid #ccc; padding: 10px; background-color: #f9f9f9; margin-bottom: 20px;">
    <h3>Foliar Certificado</h3>
    <h4>Certificado a foliar</h4>
    <table class="table">
        <tr>
            <th>ID Historial de Estudio</th>
            <th>CURP</th>
            <th>Estatus de Certificado</th>
        </tr>
        <tr>
            <td>{{datos_foliar.0}}</td>
            <td>{{datos_foliar.1}}</td>
            <td>{{datos_foliar.5}}</td>
        </tr>
    </table>
    <button type="submit" name="foliar" value="foliar" class="btn btn-primary" style="margin-top: 20px;">Foliar Certificado</button>
</section>