<section style="border: 1px solid #ccc; padding: 10px; background-color: #f9f9f9; margin-bottom: 20px;">
    <h3>Datos de Certificación</h3>
    <form method="post" style="width: 100%;">
        {% csrf_token %}
        <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
            <div style="flex: 1; margin-right: 10px;">
                <label>Fecha de Certificación</label>
                {{ form_registros.fecha_certificacion }}
            </div>
            <div style="flex: 1; margin-right: 10px;">
                <label>Bachillerato</label>
                {{ form_registros.bachillerato }}
            </div>
        </div>        
        {% if boton_enviar %}
        <button type="submit" name="obtener_registros" value="obtener_registros" class="btn btn-success" style="margin-top: 30px;">
            <i class="bi bi-floppy"></i>
            Guardar Datos
        </button>
        {% endif %}
    </form>
    {% if error_registros_insertar %}
    <p class="alert alert-warning" style="width:25%; margin-top:10px">{{ error_registros_insertar }}</p>
    {% endif %}
</section>