
{% load static %}
<head>
    <!-- Bootstrap -->
    <link href="{% static 'FirmaCertificadosApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'FirmaCertificadosApp/css/gestion.css' %}" rel="stylesheet">
</head>
<title>
    Acceder
</title>
{% block content %}
{% if not user.is_authenticated %}
<body style="background-color:darkgrey;">
    <div class="container">
        <h1>Firma Certificados  Prepas Estatales</h1>
        <hr>

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                {{ form.username.label_tag}}
                {{ form.username }}
            </div>

            <div class="form-group">
                {{ form.password.label_tag}}
                {{ form.password }}
            </div>

            <button type="submit" class="btn btn-success btn-lg btn-block">Ingresar</button>
            {% comment %} <button type="reset" class="btn btn-info btn-lg btn-block">Limpiar</button> {% endcomment %}

            {% if messages %}
                {% for mensaje in messages %}
                    <span class="alert alert-{{ mensaje.tags }}">{{ mensaje }}</span>
                {% endfor %}
            {% endif %}
        </form>
    </div>
    {% else %}
    <div class="alert alert-warning" style="text-align: center; width: 50%; margin: 0 auto;">

        <p><b>Usuario autenticado</p></b>
        <a href="{% url 'Inicio' %}">Ir a Inicio</a>
    
    </div>
{% endif %}
    <!-- Bootstrap -->
    <script src="{% static 'FirmaCertificadosApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'FirmaCertificadosApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
{% endblock content %}
