{% extends "base2.html" %}

{% block title %}
    Certificaciones Parciales
{% endblock title %}

{% block content %}
<body>
    <h2>Certificaciones Parciales</h2>
    
    <!-- Sección para verificar el certificado -->
        {% include "existe_certificadoCP.html" %}
    <!-- Sección para obtner la clave -->
        {% include "clave_usuarioCP.html" %}
    <!-- Sección para obtner registros e insertar -->
        {% include "registros_insertarCP.html" %}
    <!-- Sección para obtner foliar despues de firmar -->
    {% if seccion_foliar %}
        {% include "foliadorCP.html" %}
    {% endif %}
    <a href="{% url 'reiniciar_foliador_cp' %}" class="btn btn-info">Reiniciar Foliador</a>
    
</body>
</html>
{% endblock %}
