<section style="border: 1px solid #ccc; padding: 10px; background-color: #f9f9f9; margin-bottom: 20px;">
    <h3>Datos del Alumno</h3>
    {% if datos_alumno %}
    <div style="overflow-x: auto;">
        <table class="table">
            <tr>
                <th>CURP</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Nombre</th>
                <th>Clave CT</th>
            </tr>
            <tr>
                <td>{{ datos_alumno.curp }}</td>
                <td>{{ datos_alumno.app_alumno }}</td>
                <td>{{ datos_alumno.apm_alumno }}</td>
                <td>{{ datos_alumno.nom_alumno }}</td>
                <td>{{ datos_alumno.clave_ct }}</td>
            </tr>
        </table>
    </div>
    {% elif error_clave %}
    <p class="alert alert-warning" style="width:25%; margin-top:10px">{{ error_clave }}</p>
    {% endif %}
</section>