    <section style="border: 1px solid #ccc; padding: 10px; background-color: #f9f9f9; margin-bottom: 20px;">
        <h3>Verificar Certificado</h3>
        <form method="post" style="width: 100%;">
            {% csrf_token %}
            <div style="display: flex; align-items: center;">
                <div>
                    <label>CURP del Alumno:</label>
                    {{ form.curp }}
                </div>
                <button type="submit" class="btn btn-success" style="margin-left: 10px; margin-top: 30px">Enviar</button>
            </div>
        </form>
        
        {% if alumno_info %}
            <h3>Certificado</h3>
            <div style="overflow-x: auto;">
                <table class="table">
                    <tr>
                        <th>ID Historial de Estudio</th>
                        <th>CURP</th>
                        <th>ID Proceso</th>
                        <th>Certificado Digital</th>
                        <th>Estatus Foto</th>
                        <th>Estatus Certificado</th>
                        <th>Fecha de Creación</th>
                        <th>Fecha de Firma</th>
                        <th>Sello SEP</th>
                        <th>Fecha de Sello SEP</th>
                        <th>Folio SEP</th>
                        <th>ID Genero CT</th>
                        <th>Nombre CT</th>
                        <th>Clave CCT</th>
                        <th>Nivel CT</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Nombre</th>
                        <th>Promedio</th>
                        <th>Fecha de Certificado</th>
                        <th>Fecha de Certificado en Texto</th>
                        <th>Tipo Certificado</th>
                        <th>Entidad</th>
                        <th>Clave Municipio</th>
                        <th>Nombre Municipio</th>
                        <th>Observaciones</th>
                        <th style="text-align:center">Sello SEDUZAC</th>
                        <th>Fecha Certificación</th>
                        <th>Bachillerato</th>
                        <th>Semestre</th>
                        <th>Autoridad Educativa</th>
                        <th>Certificado Autoridad Educativa</th>
                    </tr>
                    <tr>
                        <td>{{ alumno_info.id_hist_estudio }}</td>
                        <td>{{ alumno_info.curp }}</td>
                        <td>{{ alumno_info.id_proceso }}</td>
                        <td style="white-space: nowrap; max-width: 200px; overflow: hidden; text-overflow: ellipsis;">
                            <div style="overflow-x: auto; white-space: nowrap;">
                                {{ alumno_info.certificado_digital }}
                            </div>
                        </td>
                        <td>{{ alumno_info.estatus_foto }}</td>
                        <td>{{ alumno_info.estatus_certificado }}</td>
                        <td>{{ alumno_info.fecha_creacion }}</td>
                        <td style="white-space: nowrap; max-width: 200px; overflow: hidden; text-overflow: ellipsis;">
                            <div style="overflow-x: auto; white-space: nowrap;">
                                {{ alumno_info.fecha_firma }}
                            </div>
                        </td>
                        <td>{{ alumno_info.sello_sep }}</td>
                        <td>{{ alumno_info.fecha_sello_sep }}</td>
                        <td>{{ alumno_info.folio_sep }}</td>
                        <td>{{ alumno_info.id_genero_ct }}</td>
                        <td>{{ alumno_info.nombre_ct }}</td>
                        <td>{{ alumno_info.clavecct }}</td>
                        <td>{{ alumno_info.nivel_ct }}</td>
                        <td>{{ alumno_info.prim_apellido }}</td>
                        <td>{{ alumno_info.seg_apellido }}</td>
                        <td>{{ alumno_info.nombre }}</td>
                        <td>{{ alumno_info.promedio }}</td>
                        <td>{{ alumno_info.fecha_cert }}</td>
                        <td style="white-space: nowrap; max-width: 200px; overflow: hidden; text-overflow: ellipsis;">
                            <div style="overflow-x: auto; white-space: nowrap;">
                                {{ alumno_info.fecha_cert_texto }}
                            </div>
                        </td>
                        <td>{{ alumno_info.tipo_cert }}</td>
                        <td>{{ alumno_info.entidad }}</td>
                        <td>{{ alumno_info.cv_mun }}</td>
                        <td>{{ alumno_info.nom_mun }}</td>
                        <td>{{ alumno_info.observaciones_tec }}</td>
                        <td style="white-space: nowrap; max-width: 200px; overflow: hidden; text-overflow: ellipsis;">
                            <div style="overflow-x: auto; white-space: nowrap;">
                                {{ alumno_info.sello_seduzac }}
                            </div>
                        </td>
                        <td>{{ alumno_info.fecha_certificacion }}</td>
                        <td>{{ alumno_info.bachillerato }}</td>
                        <td>{{ alumno_info.semestre }}</td>
                        <td style="white-space: nowrap; max-width: 200px; overflow: hidden; text-overflow: ellipsis;">
                            <div style="overflow-x: auto; white-space: nowrap;">
                                {{ alumno_info.autoridad_educativa }}
                            </div>
                        </td>
                        <td>{{ alumno_info.certificado_autoridad_educativa }}</td>
                    </tr>
                </table>
            </div>
        {% elif error %}
            <p class="alert alert-warning" style="width:25%; margin-top:10px">{{ error }}</p>
        {% endif %}
    </section>