{% extends "base2.html" %}

{% block titulo %}
    Bachillerato a Distancia
{% endblock titulo %}

{% block content %}

<body>
    <section style="border: 5px solid #ccc; padding: 10px; background-color: #DCDCDC; margin-bottom: 20px; text-align:center;">
        <h2>Certificaciones Bachillerato a Distancia</h2>
    </section>
    <!-- Sección para obtner registros e insertar -->
    {% include "registros_insertarBD.html" %}
    <!-- Sección para obtner foliar despues de firmar -->
    {% if seccion_foliar %}
        {% include "foliadorCP.html" %}
    {% endif %}
    {% comment %} <a href="{% url 'reiniciar_foliador_bd' %}" class="btn btn-info">Reiniciar Foliador</a> {% endcomment %}

</body>
</html>
{% endblock %}