{% extends "base2.html" %}

{% block title %}
    Bachillerato a Distancia
{% endblock title %}

{% block content %}

<body>
    <h2>Certificaciones para Bachillerato a Distancia</h2>
    <!-- Sección para obtner registros e insertar -->
    {% include "registros_insertarBD.html" %}
    <!-- Sección para obtner foliar despues de firmar -->
    {% if seccion_foliar %}
        {% include "foliadorCP.html" %}
    {% endif %}
    <a href="{% url 'reiniciar_foliador_bd' %}" class="btn btn-info">Reiniciar Foliador</a>

</body>
</html>
{% endblock %}